.App {
  text-align: center;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

body {
  background: url('./assets/layered-steps-haikei(1).svg') no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
}

.nav {
  background-color: hsla(128, 24%, 48%, 0.9);
  font-family: 'Pixelify Sans', sans-serif;
  padding: 10px; 
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 960px;
  width: 90%; 
  margin: 20px auto; 
  border: 2px solid #543e3e;
  border-radius: 2px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.brand-name {
  font-size: 1.25rem;
}

.nav-link {
  padding: 8px 16px; 
}

.nameColor {
 color: #a56b6b; 
 font-weight: 500;
}

.content {
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  justify-content: space-around;
  align-items: flex-start; 
  padding: 20px;
}


.greetingText {
  text-align: left;
  font-family: 'Pixelify Sans', sans-serif; 
  font-weight: 300;
  font-size: 4em;
}

.aboutText {
  text-align: left;
  font-family: 'Roboto Condensed', sans-serif; 
  font-weight: 300;
  width: 400px;
  font-size: 1.25em;
}

.profilePicture {
  margin-top: 10em;
  width: 100%;
  max-width: 400px;
  margin-left: 2em;
  box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
}

.left-nav {
  display: flex;
  align-items: center;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: flex-start;
}

.brand-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 20px;
}
.nav-link:hover {
  background-color: #EEE7DA;
  border-radius: 20px;
  opacity: 80%;
}

.section {
  margin-top: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section {
  color: #EEE7DA;
  margin-top: 5em;
}

.linkedin-button {
  background-color: #0077b5;
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 0;
  margin-top: 0;
}

.linkedin-button:hover {
  background-color: #005983;
}

.linkedin-button svg {
  margin-right: 10px;
}

.github-button {
  color: white; 
  background-color: #333;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 0;
  margin-top: 0;
  gap: 5px;
}

.github-button:hover {
  color: #ababab;
  background-color: #333;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.figure {
  width: 93px; 
  height: 150px; 
  background-image: url('./assets/Skeleton.png');
  background-size: 1300px 150px; 
  position: fixed;
  top: 76%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: walk 1s steps(13) infinite;
}

@keyframes walk {
  100% {
      background-position: -1300px 0; 
  }
}




@media screen and (max-width: 768px) {

}