.App {
  text-align: center;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}

body {
  background: url('./assets/layered-steps-haikei(1).svg') no-repeat center top;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  background-color: #373936;
}

.nav {
  background-color: hsla(128, 24%, 48%, 0.9);
  font-family: 'Pixelify Sans', sans-serif;
  padding: 10px; 
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 960px;
  width: 90%; 
  margin: 20px auto; 
  border: 2px solid #543e3e;
  border-radius: 2px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.brand-name {
  font-size: 1.25rem;
}

.nav-link {
  padding: 8px 16px; 
}

.nameColor {
 color: #a56b6b; 
 font-weight: 500;
}

.content {
  display: flex;
  flex-wrap: wrap; 
  width: 100%;
  justify-content: space-around;
  align-items: flex-start; 
  padding: 20px;
}

.nav-link {
  color: #EEE7DA;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
}

.left-nav {
  display: flex;
  align-items: center;
}

.right-nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  align-items: flex-start;
}

.brand-name {
  color: #EEE7DA;
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 20px;
}

.nav-link:hover {
  background-color: #d3cdc0;
  border-radius: 20px;
  opacity: 80%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linkedin-button {
  background-color: #0077b5;
  display: inline-flex;
  align-items: center;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 0;
  margin-top: 0;
}

.linkedin-button:hover {
  background-color: #005983;
}

.linkedin-button svg {
  margin-right: 10px;
}

.github-button {
  color: white; 
  background-color: #333;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 0;
  margin-top: 0;
  gap: 5px;
}

.github-button:hover {
  color: #ababab;
  background-color: #333;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.figure {
  width: 93px; 
  height: 150px; 
  background-image: url('./assets/Skeleton.png');
  background-size: 1300px 150px; 
  position: fixed;
  top: 76%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  animation: walk 1s steps(13) infinite;
}

@keyframes walk {
  100% {
      background-position: -1300px 0; 
  }
}

@media screen and (max-width: 768px) {
  .nav {
    font-size: 16px;
    gap: 6px;
    width: 100%; 
  }
  
  .right-nav {
    gap: 10px;
  }
  
  .brand-name {
    font-size: 1.25rem;
    margin-left: 10px;
  }
}